* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.qr-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    margin: 0 20px;

    img {
        width: 100%;
        border-radius: 15px;
    }

    .description {
        margin: 25px 20px;
        text-align: center;

        h2 {
            margin-bottom: 20px;
            font-size: 1.4em;
            color: hsl(218, 44%, 22%);
            font-weight: 700;
        }

        p {
            color: hsl(220, 15%, 55%);
            font-size: 1em;
        }
    }
}